.SelectGeneros{
    justify-content: center;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
}
#generos{
    font-size: 1.0rem;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #6373ce;
    color: white;
    border: 0;
    appearance: none;
    border-radius: 25px;
}

#texto-seleccion-generos{
    color:#2124fa;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
